<!-- registration.component.html -->

<div class="registration-container">
    <h2>Register</h2>
    <form (ngSubmit)="register(registrationForm)" #registrationForm="ngForm">
      <div class="form-group">
        <label for="customerName">Customer Name:</label>
        <input type="text" id="customerName" name="customerName" [(ngModel)]="customer.customerName" required>
      </div>
      <!-- <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="customer.lastName" required>
      </div> -->
  
     
   <!-- <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="customer.confirmPassword" required>
      </div>
       Form validation elements
       
    
   
    -->
  
      <div class="form-group">
        <label for="aadhaarNumber">Aadhaar Number:</label>
        <input type="text" id="aadhaarNumber" name="aadhaarNumber" [(ngModel)]="customer.aadhaarNumber" pattern="[0-9]{12}" required>
      </div>
  
      <div class="form-group">
        <label for="mobileNumber">Mobile Number:</label>
        <input type="text" id="mobileNumber" name="mobileNumber" [(ngModel)]="customer.mobileNumber" pattern="[0-9]{10}" required>
      </div>
  
      <div class="form-group">
        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="customer.dateOfBirth" required>
      </div>
      <div class="form-group">
        <label for="userName">User Name:</label>
        <input type="text" id="userName" name="userName" [(ngModel)]="customer.userName" required>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="customer.password"  minlength="8" required>
      </div>

      <button type="submit">Register</button>
  
      <!-- <button type="submit" [disabled]="registrationForm.invalid">Register</button> -->
    </form>
  </div>
  